.main-container {
  width: 90%;
  margin: 5%;
}

.title {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  position: relative;
}

.title > p {
  font-size: 300%;
  margin: 0;
  padding-left: 1%;
  padding-top: 5%;
}

.title > img {
  height: 15%;
  width: 15%;
}

.menu {
  width: 10px;
  height: 5px;
  background-color: white;
  margin: 30% 0;
}

.menu-icon {
  position: absolute;
  left: 90%;
  bottom: 20%;
}

.border-line {
  height: 8px;
  border: 0;
  box-shadow: inset 0 1rem 1rem -1rem rgba(0, 0, 0, 0.5);
}

.middle-line {
  justify-content: center;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contents {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.contents > p {
  display: inline-block;
  align-content: center;
  color: gray;
}

.flashnews {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 20rem;
  background-image: url("./images/dog.jpg");
  background-size: 100% auto;
  background-position: -20%;
}

.flashnews-brief {
  display: flex;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 30%;
  bottom: 0px;
  color: gray;
  padding-top: 2%;
  flex-direction: column;
}

.flashnews-brief > p {
  margin-bottom: 0px;
  font-size: 90%;
}

.flashnews-brief > h2 {
  margin-bottom: 0px;
  margin-top: 0px;
  height: 20%;
  padding-top: 0px;
  font-size: 120%;
}

.top-news {
  padding-top: 1%;
  padding-bottom: 1%;
}

.in-line-headings {
  font-size: 20px;
  margin: 0px;
}

.more {
  margin: 0px;
}

.top-heading {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.table {
  width: 90%;
  text-align: center;
  padding-bottom: 1%;
}

.table-head {
  color: gray;
  font-family: "Times New Roman", Times, serif;
}

.table-values {
  justify-content: center;
}

.City-name {
  margin-bottom: 0px;
  font-family: Times;
  color: gray;
}

.temperature-heading {
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 0px;
}

.Average-temperature {
  display: flex;
  height: 100%;
  flex-direction: row;
}
.temperature-number{
  align-self: center;
  font-size: 150%;
}

.img {
  height: 100%;
  width: auto;
}

.sun-cloud {
  height: 100%;
  width: auto;
}

.centigrade {
  align-self: center;
  font-size: 100%;
}

.days {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.temperature-images {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.latest-heading {
  display: flex;
  width: 95%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.doggy {
  height: 100px;
  width: 150px;
  float: left;
  margin-right: 2%;
}

.latest-block {
  margin: 3%;
}

.bottom {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 20px;
  width: 90%;
}

@media only screen and (max-width: 800px) {
  .main-container {
    width: 100%;
    margin: 0%;
  }
  .title > p {
    font-size: 250%;
  }

  .flashnews-brief {
    display: flex;
    position: absolute;
    background-color: rgba(95, 93, 93, 0.692);
    width: 100%;
    bottom: 0px;
    color: white;
    font-size: small;
  }

  .middle-container {
    display: flex;
    flex-wrap: wrap;
  }

  .flashnews {
    order: -2;
    width: 60%;
    background-size: auto 100%;
    background-position-x: 20%;
  }

  .Weather-Forecast {
    order: -1;
    width: 38%;
    margin-left: 1%;
  }

  .top-news {
    width: 100%;
  }

  .table {
    width: 100%;
  }

  .table-head {
    background-color: rgb(161, 161, 185);
    color: white;
  }

  .table-line-color {
    background-color: #eee;
  }
}

@media (max-width: 600px) {
  .main-container {
    font-size: 80%;
  }
  .title > p {
    font-size: 200%;
  }

  .menu {
    background-color: gray;
  }

  .flashnews {
    width: 100%;
    background-size: 100% 100%;
    margin-top: 5px;
    order:0;
  }

  .top-news {
    width: 100%;
  }

  .table {
    width: 100%;
  }

  .Weather-Forecast {
    order: 0;
    width: 100%;
  }

  .contents {
    display: none;
  }
  .main-container {
    width: 100%;
    margin: 0%;
  }
  .border-line{
    display: none;
  }
}
@media (max-width: 350px) {
  .main-container {
    display: none;
  }
}
